@use '../../styles/variables' as *;

.navLink {
  position: relative;
  padding: $spacing-xs $spacing-xs;
  color: $text-dark;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: capitalize;
  // letter-spacing: 0.5px;
  transition: color $transition-fast;
  white-space: nowrap;

  @media (max-width: 1100px) {
    font-size: 0.85rem;
    padding: $spacing-xs;
  }

  @media (max-width: 900px) {
    font-size: 0.8rem;
    padding: $spacing-xs;
    letter-spacing: 0.3px;
  }

  &:hover {
    color: $primary-color;
  }

  &.active {
    color: $primary-color;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: $spacing-sm;
      right: $spacing-sm;
      height: 2px;
      background-color: $primary-color;

      @media (max-width: 1100px) {
        left: 0.6rem;
        right: 0.6rem;
      }

      @media (max-width: 900px) {
        left: 0.5rem;
        right: 0.5rem;
      }
    }
  }
}