@use "../../styles/variables" as *;

.callToAction {
	position: relative;
	padding: $spacing-xl * 1 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 200px;
}

.backgroundImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 2;
}

.content {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;

	text-align: center;
	z-index: 3;
}

.title {
	font-family: $font-family-heading;
	font-size: 3.5rem;
	font-weight: 700;
	color: $text-light;
	margin-bottom: $spacing-xl;
	line-height: 1.2;

	@media (max-width: $breakpoint-md) {
		font-size: 2rem;
	}
}

.arrow {
	display: inline-block;
	margin-left: $spacing-xs;
	transition: transform $transition-fast;
}

.content :global(button:hover) .arrow {
	transform: translateX(5px);
}
