@use "../../styles/variables" as *;

.testimonialSection {
	position: relative;
	padding: $spacing-xl 0;
	overflow: hidden;
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.backgroundImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 2;
}

.container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 $spacing-md;
	z-index: 3;
	width: 100%;
}

.content {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.quoteMark {
	font-family: $font-family-heading;
	font-size: 8rem;
	font-weight: 700;
	color: $primary-color;
	line-height: 0.1;
	opacity: 0.9;
	align-self: flex-start;

	@media (max-width: $breakpoint-md) {
		font-size: 5rem;
	}
}

.quote {
	font-family: $font-family-body;
	font-size: 2rem;
	font-weight: 400;
	color: $text-light;
	line-height: 1.8;
	margin: 0;
	font-style: normal;
	position: relative;
	z-index: 2;
	text-align: justify;

	@media (max-width: $breakpoint-md) {
		font-size: 1.5rem;
		line-height: 1.6;
	}
}
