@use '../../styles/variables' as *;

.socialIcons {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-dark;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color $transition-fast;

  &:hover {
    color: $primary-color;
  }
}